-# coding: utf-8

%div#toolbox_spacer_top
%div#toolbox
  %p 表示： ラック一覧
  - csv_url = request.path_info + '.csv' + (request.query_string.empty? ? '' : '?' + request.query_string)
  %div
    出力：
    %a{:href => csv_url} CSVダウンロード
  - if @isadmin
    %div
      選択したラックへの操作: 
      %select.admin_operations#rack_operation_list
        %option{:value => 'nonedefault'} 操作を選択してください
        %option{:value => 'none', :disabled => true} -- データ削除 --
        %option{:value => 'delete_records'} 選択したラックを消去
%div#toolbox_spacer_bottom
%div#maincontents
  - if @isadmin
    %form.smartadd{:name => 'create_rack', :action => '/ybz/rack/create', :method => "POST"}
      %table#rackcreate
        %tr.rack_item
          %td.td_line_head
            %div.header_status
          %td.rack_label{:style => "padding-left: 1em;"}
            ラック名:
            %input.smartinput{:type => 'text', :size => 16, :name => 'label'}
            %span.form_hint
              入力例:
              &= Yabitz::RackTypes.list.map(&:rack_label_example).uniq.join(', ')
          %td.td_padding_narrow
            %img{:src => "/images/1x1.gif"}
          %td.td_base
            %button.icon_submit{:type => 'submit', :title => 'ラックを追加', :style => 'border: 0; background: transparent; padding: 0; cursor: pointer;', :onclick => 'this.form.submit(); return false;'}
              %img{:src => '/images/adding.png', :height => 24, :width => 24, :alt => '追加'}
          %td.td_line_term
            %img{:src => "/images/1x1.gif"}
  %table#racklist
    = partial :rack, :collection => @racks
